@model WineForum.Models.Forum.ForumIndexModel

<h1>Forums</h1>
<table class="table table table-hover" id="forumIndexTable">
    @foreach(var forum in Model.ForumList)
    {
        <tr>
            <td>
                @forum.Name
            </td>
            <td>
                @forum.Description
                </td>
        </tr>
    }
        </table>
