body {
    padding: 50px 0 20px 0;
    background-color: #EEE;
    background-image: url("/images/theme/pexels-photo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Roboto';
    color: black;
}

.navbar {
    box-shadow: 0 4px 6px -5px #000;
    background-color: #fae5d5;
}
.forgotpass .register{
    font-family:'Roboto Mono';
    font-weight:bold;
    color: white;
    
}

.navLogo {
    background-image: url("/images/theme/log1.png");
    background-size: 100%;
    width: 150px;
    padding-right: 16px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 12px;
}
.navbar-nav{
    color:black;
}

.navbar-inverse .navbar-link {
    color: #000;
    font-family: 'Roboto Mono';
    font-weight: bold;
}
    .navbar-inverse .navbar-link:hover {
        color: white;
        background-color: rgb(249, 200, 163);
        transition: ease-in-out 0.2s;
        background-size:100%;
    }

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: white;
    background-color: rgb(249, 200, 163);
    transition: ease-in-out 0.2s;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: rgba(249, 200, 163, 1);
}


.navbar-inverse .navbar-nav > li > a {
    color: #000;
    font-family: 'Roboto Mono'
}

.navbar li {
    font-weight: bold;
}

.sectionHeader {
    background-color: transparent;
    padding: 10px 0 16px 0;
}


.sectionHeading {
    color: black;
    font-size: 1.5em;
    font-family: 'Roboto Mono';
    padding: 10px 0 16px 0;
    border-bottom: 1px solid black;
    margin-bottom: 12px;
    font-weight:bold;
}

.postHeading {
    color: black;
    font-size: 1.5em;
    font-family: 'Roboto Mono';
    font-weight: bold;
    padding: 16px 0 16px 0;
}

.sectionInfo {
    height: 400px;
    background-color: white;
}

/* Front page heading */



.frontPageSplash {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.frontPageLearn {
    padding: 12px 0 20px 32px;
    font-family: 'Roboto';
    color: black;
    font-weight: lighter;
    background-color:transparent;
    background-size: 100%;
}


.frontPageHeading {
    margin: 16px 0;
    font-size: 3.2em;
}

.frontPageSubHeading {
    font-weight: bold;
    font-size: 2em;
    color: white;
    text-align: left;
}

/* Front page content */

.frontPageContent {
    background-color:transparent;
    
   
}
.col-md-4{
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
padding-bottom: 15px
}
#latestPosts {
    font-size: 1.2em;
    font-weight: lighter;
    color: black;
    margin: 4px 0 16px 0;
    font-family:'Roboto Mono';
    
}
.table td {
    background-color: rgba(186, 209, 222, 0.4);
}
.table tr:hover {
    background-color: rgba(186, 209, 222, 0.8);
}
/*Post page*/

.postTitle {
    font-family: 'Roboto';
    font-weight: bold;
}

.postSubTitle {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
}

.postDate {
    display: inline-block;
}

.postDate {
    color: black;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
}

.postLogo {
    display: inline-block;
    border-radius: 3px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: #ddd;
}

.postAuthorImage {
    height: 80px;
    width: 80px;
    background-size: 100%;
}

.postAuthorContainer {
    padding: 12px;
    color: #444;
    font-family: 'Roboto';
}

.postIndexTable {
    font-size: 1.4em;
}

#postContentContainer {
    font-family: 'Roboto';
    color: transparent;
    padding: 22px;
    border-left: 1px solid #ddd;
}

.postAuthorRating {
    font-size: 0.9em;
    color: #159;
    font-family: 'Roboto Mono';
}

#replyDivider {
    height: 2px;
    margin-bottom: 12px;
}

#postIndexContent {
    background-image: linear-gradient(to right, hsla(26, 79%, 91%, 0.9),hsla(26, 79%, 91%, 0.1));
    box-shadow: 0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.3);
}

.postHeader {
    background-image: linear-gradient(to right, hsla(26, 79%, 91%, 0.9),hsla(26, 79%, 91%, 0.1));
    
    padding: 8px 0 24px 24px;
}

#headingBtn {
    background-color:#ad3a3a;
    float: right;
    margin-right: 20px;
}

/*Custom Buttons*/
.btn-back {
    background-color: #ad3a3a;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0 !important;
    border-color: #ad3a3a;
}

.body-back:hover {
    transition: ease-in 0.1s;
    background-color: #1E88E5 !important;
}

.btn-newReply {
    background-color: #ad3a3a !important;
    color: #fff !important;
    transition: ease-in 0.1s;
    border-radius: 0 !important;
}

    .btn-newReply:hover {
        background-color: #ad3a3a !important;
        transition: ease-in 0.2s;
    }


.btn-file {
    color: white;
    width: inherit;
    background-color: #ad3a3a;
    transition: ease 0.3s;
}
button, input, optgroup, select, textarea {
    color: black;
    font: inherit;
    margin: 0;
}

.btn-file:hover {
    background-color: #842626;
    color:white;
    transition: ease 0.3s;
}
.btn-default {
    color: #f5f5f5;
    background-color: #ad3a3a;
    border-color: rgba(173, 58, 58, 0.4);
}
.btn-default:hover {
    color: white;
    background-color: #842626;
    border-color: rgba(173, 58, 58, 0.4);
}


.btn-newPost {
    background-color: #c62828 !important;
    color: #fff !important;
    transition: ease-in 0.2s;
    border-radius: 0 !important;
}

    .btn-newPost:hover {
        transition: ease-in 0.1s;
        background-color: #e53935 !important;
        color: #fff !important;
    }

.btn-submitPost {
    display:inline-block;
    margin-top:10px;
    background-color: #ad3a3a !important;
    color: #fff !important;
    transition: ease-in 0.2s;
    border-radius: 0 !important;
}

    .btn-submitPost:hover {
        transition: ease-in 0.1s;
        background-color: #ad3a3a !important;
        color: #fff !important;
    }
/* Forum index */
#forumIndexTable td {
    background-color: hsla(200, 33%, 81%, 0.8);
    
}

#forumIndexTable tr:hover {
    background-color: hsla(200, 33%, 81%, 1);
}

.forumData {
    display: inline-block;
}

.forumTitle {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1.1em;
    color: black;
}
.forumCreate {
    padding: 32px 0 64px 24px;
    background-color: rgba(186, 209, 222, 0.4);
}
.forumSubTitle {
    color: #888;
    font-family: 'Roboto Mono';
    font-size: 0.8em;
}
.form-control {
    display: inline-block;
    width: 95%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.forumDescription {
    color: #000;
    font-family: 'Roboto';
}

.forumLogo {
    border-radius: 3px;
    float: left;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    background-color: #ddd;
    border: 1px solid #555;
    background-size: 100%
}

.forumPostCount {
    color: #000;
    font-family: 'Roboto Mono';
    font-size: 0.9em;
}

.forumMemberCount {
    color: #000;
    font-family: 'Roboto Mono';
    font-size: 0.9em;
}

#forumIndexContent {
    padding-bottom: 15px;
    background-color: rgba(186, 209, 222, 0.4);
}

.searchIndexTable {
    padding-bottom: 60px;
    background-color: rgba(186, 209, 222, 0.4);
    border: 1px solid #555;
}

.forumResultContent {
    padding-bottom: 60px;
    background-color: rgba(255, 255, 255, 0.9);
}

.noPosts {
    text-align: center;
    padding-top: 30px;
    font-family: 'Roboto Mono';
}

/*User Profile*/
.userProfile {
    padding: 32px 0 64px 16px;
    background-color: rgba(186, 209, 222, 0.4);
    ;
}

#userProfileImage {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
}

#userEmailLabel, #userBioLabel, #userCreatedLabel, #userRating, #userActiveLabel {
    display: block;
    color: black;
    font-family: 'Roboto Mono';
    padding-top: 3px;
    font-weight:lighter;
}

#userName {
    display: block;
    color: black;
    font-family: 'Roboto Mono';
    font-size: 1.7em;
}




/*Create Post*/
.createPostSection {
    background-color: #fff;
    padding: 24px;
}

.authorBlock {
    padding: 18px;
    margin-bottom: 8px;
}

.noBorder {
    border: none;
}

/*user profile pic*/
.userProfilePic {
    height: 140px;
    width: 140px;
    background-size: 100%;
}
/*replies*/
.replyContent {
    display: table;
    background-image: linear-gradient(to right, hsla(26, 79%, 91%, 0.9),hsla(26, 79%, 91%, 0.1));
    
    border-bottom: 1px solid #aaa;
    width: inherit;
}

#postReplyRow {
    background-color: #fae6d7;
    padding: 8px;
    border-bottom: 1px solid transparent
}

.isAdmin{
    display: inline-block;
    padding: 3px;
    background-color: #FFEB3B;
    color: #000;
    font-family: 'Roboto Mono';
}
.smaller {
    font-size:0.8em;
}

#postReply {
    padding: 18px;
    margin-bottom: 8px;
    background-color: white;
}

.replyAuthorBlock {
    background-color: #fff;
    padding: 24px;
}

.authorBlock {
    background-color: #fff;
    padding: 24px;
}

.replyContentContainer, .replyAuthorContainer {
    display: table-cell;
    padding: 12px;
}

.isAdmin {
    display: inline-block;
    padding: 3px;
    background-color: #FFEB3B;
    color: #000;
    font-family: 'Roboto Mono';
}

.smaller {
    font-size: 0.8em;
}

.hasRecentPost {
    padding: 2px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 1px;
    width: 30px;
}

#originalPost {
    background-color: black;
    padding: 12px;
    margin-bottom: 8px;
}


/*wrapping element*/
.body-content {
    background-color: transparent;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

/*carousel*/
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.sectionDescription {
    color: #000;
}

.frontPageTopContainer {
    padding: 40px 80px 42px 40px;
    border: 1px solid #999;
    background-color: #2569D5;
    font-family: 'Roboto';
}
.searchBar {
    width: 250%;
    background: rgba(0,0,0,0.2);
    padding: 10px;
    border: 0;
    height: 1.4em;
    font-size: 1.1em;
    font-family: 'Roboto Mono';
    font-weight: lighter;
    transition: ease-in 0.2s;
}
.homeSearch {
    width: 90%;
    
    background: rgba(0,0,0,0.2);
    padding: 10px;
    border: 0;
    height: 1.4em;
    font-size: 2.1em;
    font-family: 'Roboto Mono';
    font-weight: lighter;
    transition: ease-in 0.2s;
}

    .homeSearch:focus {
        border: none !important;
        outline: none !important;
        transition: ease-in 0.2s;
        background-color: rgba(0,0,0,0.6);
        box-shadow: 0 5px 4px -6px #000;
    }



/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
